---
---

@import "utilities/_all";
@import "base/_all";

$new-gray: #666666;

/*____________________________________________*/


header {
  width: inherit;
}
header#site-header {
  padding: 1rem 1rem 0;
  margin-bottom: 1rem;
  font-weight: bold;
}

@media (min-width: 43.75em) {
  header#site-header {
    margin-bottom: 2rem;
  }
}

main {
  position: relative;
  width:inherit;
  flex: 1 0 auto;
  padding: 0 1rem;
}

main *[align="left"] {
  margin: 0 1.5em 1em 0;
}

main *[align="right"] {
  margin: 0 0 1em 1.5em;
}

article {
  img {
    display: block;
    max-width: 100%;
    margin: 1em 0;
  }
}

footer {
  margin: 3rem 1rem 0;
  padding: 1rem 0;
  border-top: 2px solid;
}
@media (min-width: 425px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    nav.social {
      margin: 0;
    }

    #cp {
      padding: 0;
    }
  }
}

nav.main { 
  margin-top: 1em;
  font-weight: $light;
}

nav.social {
  margin-bottom: 1.5em;
  font-weight: $light;
  > #gh { color: $gh-grey; }
  > #kb { color: $kb-orange; }
  > #tw { color: $tw-blue; }
}

p {
  margin-bottom: 1em;
  > strong {
    font-weight: $bold;
  }
}

a {
  font-weight: $bold;
  color: $black;
  text-decoration: underline;
  text-decoration-color: $default-blue;
  cursor: auto;

  &:hover, &:active {
    color: $default-blue;
  }
}

img { 
  max-width: 100%;
  height: auto;
}
.my-face {
  width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

info {
  display: inline;
  color: #dddddd;
}

.vertical-center {
  position: absolute;
  top: 40%;
  transform: translateY(-60%);
}

blockquote {
  border-left: 4px solid #dddddd;
  padding-left: 1.25rem;
  color: $new-gray;
  font-size: 1rem;
}


@media (max-width: 330px) {
  .not-footer {
    margin: 20px;
  }
}

.container {
  float: left;
  width: 96%;
  padding: 2%;
}
.heading {
  padding: 0 4px;
  color: $black;
}
.site-title {
  font-weight: bold;
  font-size: 2em;
}

.classification {
  margin-bottom: 1.5rem;
}

/*************** index/archive/category pages *****************/
.slug-container {
  margin-bottom: 1.5em;
}


.month-header {
  padding: 0 4px;
  font-size: 20px;
}

.post-title {
  margin-bottom: 1.5rem;
  h1 {
    margin: 0.5rem 0;
  }
}

#teaser {
  max-width: 60%;
  margin-left: 50px;
  font-weight: normal;
}

ul.archive-posts,
ul.category-posts,
ul.tag-posts {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

/**************************************************************/
