---
---

@import "variables.scss";

/*____________________________________________*/

html { 
  height: 100%;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 35rem;
  font-family: $font-family;
  font-weight: $regular;
  background-color: $white;
}

header {
  width: inherit;
  margin-bottom: 3rem;
  padding: 1rem 1rem 0;
  font-weight: bold;
}

main {
  width:inherit;
  flex: 1 0 auto;
  padding: 0 1rem;
}

section {
  margin-top: 2em;
}

footer {
  margin: 3rem 1rem 0;
  padding: 1rem 0;
  border-top: 2px solid;
  font-weight: $semibold;
}

nav.main { 
  margin-top: 1em;
  font-weight: $light;
}

nav.social {
  margin-bottom: 1.5em;
  font-weight: $light;
  > #gh { color: $gh-grey; }
  > #kb { color: $kb-orange; }
  > #tw { color: $tw-blue; }
}

h1,
h2, 
h3 { margin: 40px 0; }

p {
  > strong {
    font-weight: $semibold;
  }
}

a {
  font-weight: $semibold;
  color: $black;
  text-decoration: underline;
  text-decoration-color: $default-blue;
  cursor: auto;

  &:hover, &:active {
    color: $default-blue;
  }
}

img { 
  max-width: 100%;
  height: auto;
}

@media (min-width: 330px) {
  img {
    width: 330px;
    height: auto;
  }
}

@media (max-width: 330px) {
  .not-footer {
    margin: 20px;
  }
}

.container {
  float: left;
  width: 96%;
  padding: 2%;
}
.heading {
  padding: 0 4px;
  color: $black;
}
.site-title {
  font-weight: bold;
  font-size: 48px;
}

.classification {
  display: block;
  font-weight: normal;
  h4 { display: inline; }
  ul {
    display: inline;
    padding: 0;

    li {
      display: inline;
      list-style-type: none;
      &:after {
        content: "/ ";
      }
      &:last-child:after {
        content: none;
      }
    }
  }
}

/*************** index/archive/category pages *****************/

.month-header {
  padding: 0 4px;
  font-size: 20px;
}

#post-title {
  font-size: 25px;
  line-height: 50px;
}

#teaser {
  max-width: 60%;
  margin-left: 50px;
  font-weight: normal;
}

ul.archive-posts,
ul.category-posts,
ul.tag-posts {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

/**************************************************************/
