---
---

/*-----COLOR-----*/

$black: #000;
$grey: #828282;
$bg: #fff;
$kb-orange: #fd6f31;
$tw-blue: #00aced;



/*-----FONT-----*/
@font-face {
  font-family: HKGrotesk-Light;
        src: url('../font/HKGrotesk-Light.woff') format('woff'),
             url('../font/HKGrotesk-Light.woff2') format('woff2');
}

@font-face {
  font-family: HKGrotesk-LightItalic;
        src: url('../font/HKGrotesk-LightItalic.woff') format('woff'),
             url('../font/HKGrotesk-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: HKGrotesk-Regular;
        src: url('../font/HKGrotesk-Regular.woff') format('woff'),
             url('../font/HKGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: HKGrotesk-Semibold;
        src: url('../font/HKGrotesk-Semibold.woff') format('woff'),
             url('../font/HKGrotesk-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: HKGrotesk-SemiboldItalic;
        src: url('../font/HKGrotesk-SemiboldItalic.woff') format('woff'),
             url('../font/HKGrotesk-SemiboldItalic.woff2') format('woff2');
}

@font-face {
  font-family: HKGrotesk-Bold;
        src: url('../font/HKGrotesk-Bold.woff') format('woff'),
             url('../font/HKGrotesk-Bold.woff2') format('woff2');
}

@font-face {
  font-family: HKGrotesk-BoldItalic;
        src: url('../font/HKGrotesk-BoldItalic.woff') format('woff'),
             url('../font/HKGrotesk-BoldItalic.woff2') format('woff2');
}

$font-backup: Helvetica, sans-serif;

$hk-light: HKGrotesk-Light, $font-backup;
$hk-light-em: HKGrotesk-LightItalic, $font-backup;
$hk-regular: HKGrotesk-Regular, $font-backup;
$hk-semibold: HKGrotesk-Semibold, $font-backup;
$hk-semibold-em: HKGrotesk-SemiboldItalic, $font-backup;
$hk-bold: HKGrotesk-Bold, $font-backup;
$hk-bold-em: HKGrotesk-BoldItalic, $font-backup;

/*____________________________________________*/

html { height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $hk-regular;
  background-color: $bg;
}

header {
  font-weight: bold;
}

main {
  flex: 1;
}

footer {
  margin: 0;
  padding: 10px 20px;
  border-top: 2px solid;
  font-size: 14px;
  font-family: $hk-semibold;
}

h1,
h2, 
h3 { margin: 40px 0; }

p {
  margin: 1.5em 0;
  > strong {
    font-family: $hk-semibold;
  }
}

a {
  font-family: $hk-semibold;
  color: inherit;
  text-decoration: none;
  cursor: auto;

  &:hover, &:active {
    text-decoration: underline;
  }
}

img { 
  max-width: 100%;
  height: auto;
}

@media (min-width: 330px) {
  img {
    width: 330px;
    height: auto;
  }
}

.not-footer {
  margin: 20px auto;
  max-width: 300px;
  min-height: 100%;
  flex: 1 0 auto;
}

@media (max-width: 330px) {
  .not-footer {
    margin: 20px;
  }
}

.container {
  float: left;
  width: 96%;
  padding: 2%;
}
.heading {
  padding: 0 4px;
  color: $black;
}
.site-title {
  font-family: $hk-bold;
  font-size: 48px;
}

.quick-links { 
  margin: 1.5em 0;
  font-family: $hk-light;
}
.classification {
  display: block;
  font-weight: normal;
  h4 { display: inline; }
  ul {
    display: inline;
    padding: 0;

    li {
      display: inline;
      list-style-type: none;
      &:after {
        content: "/ ";
      }
      &:last-child:after {
        content: none;
      }
    }
  }
}
.box {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: $bg;
}

/*************** index/archive/category pages *****************/

.month-header {
  padding: 0 4px;
  font-size: 20px;
}

#post-title {
  font-size: 25px;
  line-height: 50px;
}

#teaser {
  max-width: 60%;
  margin-left: 50px;
  font-weight: normal;
}

ul.archive-posts,
ul.category-posts,
ul.tag-posts {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
}

/**************************************************************/
