---
layout: blank
title: Projects
---

<div class="gallery">
    {% assign sorted_projects = site.projects | sort: 'start_date' | reverse %}
    {% for project in sorted_projects %}
        <div class="gallery-item">
            {% if project.image %}
                <img src="{{ project.image }}" alt="{{ project.title }}">
            {% endif %}
            <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
            <p>{{ project.description }}</p>
            <div class="tags">
                {% for tag in project.tags %}
                    <a class="tag" href="/tagged/{{ tag }}">#{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>