<nav>
    <span class="nav-left">
        <header>
            <a href="{{ site.url }}" style="font-size:1.5em; font-weight:bold; color:black; text-decoration-color:blue;">njerig</a>
        </header>
    </span>
    <span class="nav-right">
        {% for link in site.data.nav.main %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
                {% assign class = 'active' %}
            {% endif %}
        <a href="{{ link.url }}" class="{{ class }}">{{ link.title }}</a>
        {% endfor %}
    </span>
</nav>