@font-face { font-family: "Inter"; font-style: normal; font-display: swap; src: url("/fonts/InterVariable.woff2") format("woff2 supports variations"), url("/fonts/InterVariable.woff2") format("woff2-variations"); }
@font-face { font-family: "Inter"; font-style: italic; font-display: swap; src: url("/fonts/InterVariable-Italic.woff2") format("woff2 supports variations"), url("/fonts/InterVariable-Italic.woff2") format("woff2-variations"); }
@font-face { font-family: "STIX"; font-style: normal; font-display: swap; src: url("/fonts/STIXTwoText-VariableFont_wght.woff2") format("woff2 supports variations"), url("/fonts/STIXTwoText-VariableFont_wght.woff2") format("woff2-variations"); }
@font-face { font-family: "STIX"; font-style: normal; font-display: swap; src: url("/fonts/STIXTwoText-Italic-VariableFont_wght.woff2") format("woff2 supports variations"), url("/fonts/STIXTwoText-Italic-VariableFont_wght.woff2") format("woff2-variations"); }
@font-face { font-family: "Handwriting"; font-style: normal; src: url('/fonts/Handwriting-Regular.otf') format('opentype'); font-display: swap; font-weight: 1 999; }

:root{
  --sans-serif: Inter, system-ui;
  --serif: STIX, Times
  --handwriting: Handwriting, cursive;
  --background: #FFFFFF;
  --text-color: #222;
}

*{
  box-sizing: border-box;
}

body{
  font-family: var(--sans-serif);
  text-align: center;
  background: var(--background);
  margin: 0 auto;
  color: var(--text-color);
  font-size: 17px;
  min-height: 100vh;
  position: relative;
}

main{
  padding: 5rem 1.5rem 5rem 1.5rem;
  box-sizing: border-box;
  max-width: 42rem;
  width: 100%;
  line-height: 1.6em;
  display: inline-block;
  text-align: left;
}

header{
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  line-height: 3em;
}

nav a{
  color: inherit;
  text-decoration: none;
  padding: 4px 7px;
  font-weight: normal;
}

nav a:hover {
  text-decoration: underline;
}

.nav-main {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left .site-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: 3px underline blue;
}

.nav-right {
  display: flex;
  gap: 1rem;
}

li{
  margin: 0.5rem 0rem ;
}

h1{
  font-size: 2.5rem;
  line-height: 1.2em;
  font-weight: bold;
  margin: 1em 0em 0.5em 0em;
  text-align: center;
  max-width: 45rem;
  display: inline-block;
}

h2, h3{
  margin: 2em 0em 0.75em 0em;
  line-height: 1.3em;
}

.post-listing{
  margin-bottom: 1.8rem;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.post-listing-delim {
  color: blue;
  user-select: none;
}

.post-listing-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.post-listing-title {
  font-weight: bold;
}

.post-listing-date {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  user-select: none;
}

.post-listing-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
}

.post-listing-description{
  font-size: 0.9rem;
  color: grey;
  width: 100%;
  padding-top: 0.2rem;
}

a{
  color: var(--theme);
  text-underline-offset: 2px;
}

a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude javascript only links */
  [href^="javascript:" i],  
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//njerig.me"],
  [href*="//localhost"]

)):after {
  position: relative;
  top: -0.5em;
  font-size: 0.7em;
  content: "↗";
}

.tag-link{
  opacity: 0.5;
}

.tag-link::before{
  content: "#";
}

blockquote{
  border-left: solid 4px var(--text-color);
  padding-left: 1.5rem;
  margin: 2rem 1rem;
}

section{
  column-count: 2;
  column-gap: 4rem;
}

p{
  margin: 0px 0px 1.2rem 0px;
}

img{
  width: 100%;
  margin: 1rem 0rem;
}

table{
  column-span: all;
  width: 100%;
  text-align: left;
  margin: 2rem 0rem;  
}

th{
  font-size: 2rem;
}

td{
  padding: 1rem 0rem;
}

footer{
  width: 100%;
  border-top: solid 1px black;
  padding: 1rem 1rem;
  font-size: 14px;
  position: absolute;
  bottom: 0px;
}

.top-left {
  top: 0;
  left: 0;
  position: absolute;
}

#endmarker {
  max-width: 30px;
  float: right;
}

.post-footer {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: italic;
}

#thanks {
  margin: 1em 0;
}

#end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
}

@media (max-width: 600px) {
  .post, .post-date {
    flex-direction: column;
    gap: 0;
  }
}
 