@import "type";

// COLORS

$black: #000;
$grey: #828282;
$white: #fff;

$kb-orange: #fd6f31;
$tw-blue: #00aced;

// TYPOGRAPHY
$font-family: HKGrotesk, Helvetica, sans-serif;
$render-mode: optimizeLegibility;