@import url("fonts.css");

/* ===== MAIN STYLES ===== */

/* --- up to 699px --- */
html {
  height: 100%;
  background-color: #fff;
  font-size: 16px;
  font-family: 'HK Grotesk', sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  max-width: 35rem;
  min-height: 100%;
  margin: 1rem auto;
}

body > article, 
body > section,
body > main {
  padding: 0 1rem;
  font-size: 1em;
  line-height: 1.25;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover { 
  color: blue;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  margin-bottom: 2.5rem;
  padding:0 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .nav-left { line-height: 1.3;}

.nav-left header {
  display:inline;
}

.nav-left header a { text-decoration: underline; }

nav .nav-right {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: flex-end;
  align-content: space-between;
}

.nav-right > a {
  border: 3px solid blue;
  flex: 0 1;
  margin-left: 0.5rem;
  padding: .25em .3em;
  font-weight: normal;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-right > a:first-child {
  margin: 0;
}

.active {
  background-color: blue;
  color: white;
}

.active:hover {
  color: white;
}

div.links > a:hover {
  background-color: blue;
  color: white;
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}


h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

blockquote {
  margin: 0;
  padding: 20px 30px;
  background-color: #d3d3d3;
}

blockquote > p { margin:0; }

h1, 
h2, 
h3, 
h4,
h5,
h6 {
  margin: 1rem 0 0.75rem;
  font-weight: bold;
}

.heading-anchor {
  display:none;
  margin-left: -.8em;
  text-decoration: none;
}

h1:hover > a.heading-anchor,
h2:hover > a.heading-anchor,
h3:hover > a.heading-anchor,
h4:hover > a.heading-anchor,
h5:hover > a.heading-anchor,
h6:hover > a.heading-anchor {
  display: inline;
  color: #d8d8ff;
}

a.heading-anchor:hover {
  color:blue;
}

/* CODE */
/* all code */
pre,
code {
  font-family: 'Hack', monospace;
  font-size: 0.8rem;
  font-kerning: none;

  background-color: #d8d8ff;
}
/* inline code, no highlight*/
code {
  padding: 0.2rem 0.3rem;
  border-radius: 3px;

  white-space: nowrap;
}
/* inline code, highlight */
code.highlight {
  border-radius: 3px;

  background: #002451;
  color: #fff;
}
/* block code, no highlight */
pre {
  border-radius: 5px;
  padding: 8px 12px;
  overflow-x: auto;
}
/* block code, highlight */
figure.highlight pre code {
  display: block;
  background-color: #002451;
  color: #fff;
  line-height: 1.5;
  
  counter-reset: code;
}
figure.highlight pre code div {
  counter-increment: code;
}

figure.highlight pre code div::before{
  content: counter(code);

  /*hacky*/
  width: 1rem;
  text-align: right;

  /*border*/
  display: inline-block;
  margin-right: 0.25em;
  padding-right: 0.25em;
  border-right: 1px solid gray;
}

kbd {
  display: inline-block;
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  line-height: 1.4;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}

del { color: red; }

ins { color: green; }

/* tables */
table {
  border-collapse: collapse
}

caption {
  text-transform: uppercase;
}

/* PATH SPECIIC CSS */

/* projects */
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gallery-item {
  background-color: red;
  margin: 0.5rem;
  padding: 0.5rem;
}
.gallery-item h3 {
  margin-top:0;
}

/* writing */
#post-list {
  width: 100%;
}

#post-list tr td {
  vertical-align: top;
}

#post-list tr td:first-child {
  width: 6em;
}

article header { margin-bottom: 1.5rem; }

article header h1 { margin-bottom: 0.5rem; }

article header p { color: gray; }

#post-subtitle {
  margin: 0;
  font-size: 1.5rem;
}

#post-datetime {
  font-size: 0.9rem;
  vertical-align: middle;
}

#toc {
  border: 2px dotted black;
}

#toc ul {
  margin-right: 1rem;
}

.footnotes::before {
  display: block;
  content: "Footnotes:";
  border-top: 1px solid gray;
  padding-top: .75rem;
}

.footnotes { margin-bottom: 1rem; }

#endmarker {
  margin: 1rem 0;
}

/* --- at least 43.75rem = 700px --- */
@media (min-width: 43.75em) {
  body > article, 
  body > section {
    font-size: 1.12em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
  nav { margin-bottom: 3rem; }
}

/* --- at least 56.25 = 900px --- */
@media (min-width: 56.25em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
    /* keep to a multiple of the 20px line height 
    and something more appropriate for display headings */
  }

  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}