---
layout: blank
---
<header>
    <span class="site-title"><a href="{{ site.url }}">hi, I'm njeri gachoka</a></span>
    <div class="quick-links">
        <a href="not-quite-yet.html">blog</a> | 
        <a href="https://github.com/{{ site.github_username }}">github</a> | 
        <a href="https://twitter.com/{{ site.twitter_username}}">twitter</a> | 
        <a href="njerig [at] mit.edu"
   rel="nofollow"
   onclick="this.href='mailto:' + 'njerig' + '@' + 'mit.edu'">email</a>
    </div>
</header>
{{ content }}