---
layout: blank
---

{% assign post = page %}
<article>
    <header>
        <h1 style="">{{ post.title }}</h1>
        {% if post.subtitle %}
        <p id="post-subtitle">{{post.subtitle}}</p>
        {% endif %}

        {% assign post_date =  post.date | date: "%b %d, %Y" %}
        {% assign modified_date = post.last_modified_at | date: "%b %d, %Y" %}

        <span id="post-datetime">
            created: 
            <time>{{ post.date | date: "%b %d, %Y" }}</time>
            {% if post_date != modified_date %}
                | modified: 
                <time>{{ post.last_modified_at | date: "%b %d, %Y" }}</time>
            {% endif %}
        <span></span>
    </header>
<!-- 
    <div style="border:2px dotted black;">
        {% include toc.html html=content ordered=true sanitize=true h_min=2 %}
    </div>
-->
    {% include anchor_headings.html html=content beforeHeading=true h_max=4 anchorBody="§" anchorClass="heading-anchor"%}
    
    <div style="margin-top: 2rem;">
        <!-- <img src="/assets/img/favicon.png" alt="the end" style="max-width:30px;display:inline;vertical-align: middle;float:right;"> -->
    </div>
</article>