---
layout: blank
---

{% assign post = page %}
<article>
    <header>
        <h1>{{ post.title }}</h1>
        {% if post.subtitle %}
        <p id="post-subtitle">{{post.subtitle}}</p>
        {% endif %}

        {% assign post_date =  post.date | date: "%b %d, %Y" %}
        {% assign modified_date = post.last_modified_at | date: "%b %d, %Y" %}

        <span id="post-datetime">
            created: 
            <time>{{ post.date | date: "%b %d, %Y" }}</time>
            {% if post_date != modified_date %}
                | modified: 
                <time>{{ post.last_modified_at | date: "%b %d, %Y" }}</time>
            {% endif %}
        <span></span>
    </header>

    {% unless post.toc == false %}
        <div style="border:2px dotted black;">
            <h4 style="font-size: 1.5rem; margin: 1rem 0 0 1rem; font-weight: normal;">Table of Contents</h4>
            {% include toc.html html=content sanitize=true h_min=1 h_max=3 %}
        </div>
    {% endunless %}

    {% include anchor_headings.html html=content beforeHeading=true h_max=3 anchorBody="§" anchorClass="heading-anchor"%}
    
    <img id="endmarker" src="/assets/img/favicon.png" alt="the end" style="max-width:30px;float:right;">
</article>